* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.qr-container {
  width: 320px;
  height: 499px;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
}
.qr-img {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.qr-img img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.qr-content {
  text-align: center;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #1f314f;
  margin-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #68778d;
  margin-top: 2rem;
  margin-left: 1.8rem;
  padding-right: 3.7rem;
}

.attribution {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  color: #1f314f;
  margin-top: 2rem;
}

@media (max-width: 768px) and (min-width: 1024px) {
  .qr-container {
    width: 70%;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
  }

  .qr-img img {
    width: 100%;
    height: auto;
  }

  h1,
  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .attribution {
    margin-top: 1rem;
  }
}

@media (max-width: 375px) {
  .qr-container {
    width: 90%;
    height: auto;
    margin-top: 2rem;
    padding: 1rem;
  }

  .qr-img img {
    width: 100%;
    height: auto;
  }

  h1,
  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .attribution {
    margin-top: 1rem;
  }
}
